img {
  
	
	width:auto;
	height:auto;
    vertical-align: middle;
    max-width: 100%;

}
.modal img{
	height:20px;
	width:20px;

}


.container_website{
	position:absolute;
	top:25%;
	left:0%;
	width:100%;
	height:100%;
	margin:0 auto;
	padding: 0px;
	background-color: #ffffff;
	
	

}
.container_header{
	position:fixed;
	height:20%;
	width:100%;
	top:0;
	left:0;
	padding: 0px;
	border-top: 10px solid #fe7159;
	z-index: 3;
	background-color: #ffffff;
	
}
.container_logo{
	float: left;
	margin-left: 5%; 
	margin-top: 4%;
	width:30%;
	height:45%;
	

}

.container_navbar{
	float: right;
	margin-right:7%;
	margin-top :5%;
	

	

}
.container_navbar a{
	padding-right:15px;
	color:#fe7861;
	
	font-size: 20px;
	font-weight:bold;
	text-decoration: none;
	
}


.container_topbar{
	position:relative;
	
	margin:0 auto;
	
	width:100%;
	padding: 0px;
	
	
}

.container_topbar_heading{
	
	width:100%;
	
	background-color: #f1eef9;	


}

.topbar_heading{
	margin-left: 5%;
	
	color:#fe7861;
	font-style: bold;
	display:inline-block;
	
	position: relative;
	
	line-height: 90px;
	vertical-align: middle;	
	
	width:25%;
	height: 90px;
	
	
	color:#fc6e5a;

	font-size: 20px;
		
	
	

}

.topbar_heading img{
	margin-top: auto;
	margin-bottom: auto;
	padding-right:15px;
	height:52px;
	width:auto;
	
	
	
}

.container_topbar_text{
	width:100%;
	
		
	}



.topbar_text{
	margin-left:5%;
	
	display:inline-block;
	text-align:left;	
		
	width:25%;
	margin-top:2%;
	
		
	color:#b4b4b4;
	font-size:19px;
	
	


}
.topbar_text p{line-height:2em;max-height:8em;}


.container_caption{
	position:relative;
	top: 6%;
	height:20%;
	width:100%;
	padding: 0px;
	

	color:#a6a6a6;
	font-size:32px;
	

	text-align:center;
	
	
	line-height: 150px;
	vertical-align: middle;	
		
	
	
	
	

	
}




.container_technology{

	position:relative;
	
	text-align: left;
	font-size: 30px;
	height:60%;
	width:100%;
	padding: 0px;
	color:#fc6e5a;
	margin-left: 5%;
	
	
}
.container_technology_images{
	
	position:relative;
	width:100%;
	height:100%;
		
	
	
	
	
}
.container_technology_image{
	display:inline-block;
	width:19%;
	height:20%;
	text-align: center;
	margin:2% auto;
	padding-top: 2%;
	padding-bottom: 2%;
	 
	 	

	
	
}


.container_client{
	
	position:relative;
	top:10%;	
	
	
	
	
	height:600px;
	width:100%;
	padding: 0px;
	
	
		
}
.container_client h1{
	color:#fc6e5a;
	
	font-size: 30px;

	margin-left: 5%;
	text-align: left;
}
.container_client p{
	color:#d3d3d3;
	font-size: 20px;

	margin-left: 5%;
}


.container_client_images{
	
	position:relative;
	width:100%;
	height:100%;
	margin-left:0px;
	
	
	
	
}
.container_client_image{
	display:inline-block;
	width:24%;
	height:10%;
	
	margin-top:4%;
	
	 
	 	
		
}


.container_aboutus{
	position:relative;
	font-size: 30px;	top:10%;
	text-align: left;

	height:55%;
	width:95%;
	padding: 0px;
	color:#fc6e5a;
	margin-left: 5%;

	
}
.container_aboutus_images{
	
	position:relative;
	width:100%;
	height:40%;
		
	
	
}
.container_aboutus_image{
	display:inline-block;
	width:24%;
	height:16%;
	text-align: center;
	margin:4% auto;
	opacity:0.4;
	
	
	
}
.container_aboutus_text{
	
	width:100%;
	height:120px;
		
	
	
	}



.aboutus_text{

	
	display:inline-block;
	text-align:center;
	position: relative;
		
	width:24%;	
	color:#d9d9d9;
	
	height:150px;

}
.aboutus_text{
	line-height: 2em;
	max-height: 8em;
	font-size: 19px;



}





















.container_footer{
	position:relative;
	top:15%;
	
	height:20%;
	width:100%;
	padding:0px;
	background-color: #fbfbfb;
	text-align: center;
	color:#a4a4a4;
		
}
.container_footer a{
	color:#a4a4a4;
	font-size:32px;
	

	text-align:center;
	line-height: 70px;
		

}

.container_separator{
	position:relative;
	top: 5%;
	height:10%;
	width:100%;
	padding-top: 10px;
	text-align: center;
   
}

